@inherits LayoutComponentBase

<MudLayout>
    <MudThemeProvider />
    <MudPopoverProvider />

    <MudDialogProvider FullWidth="true"
                       MaxWidth="MaxWidth.Medium"
                       CloseButton="true"
                       BackdropClick="false"
                       NoHeader="true"
                       Position="DialogPosition.Center"
                       CloseOnEscapeKey="true"
                       BackgroundClass="my-custom-class" 
                       />

    <MudSnackbarProvider />
    <MudAppBar Color="Color.Primary">
        <MudLink Typo="Typo.h6" Href="/" Color="Color.Default" >Offers Management</MudLink>
        <MudSpacer />
    </MudAppBar>

    <MudDrawer Clipped="true" Color="Color.Info" Elevation="1">
        <MudDrawerHeader>Navigation</MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/">Offers</MudNavLink>
        </MudNavMenu>
    </MudDrawer>

    <MudMainContent>
        <div style="padding:3rem;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>